@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .curriculum-description, .a p{
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
  }

  .text-orange{
    color: rgba(254, 163, 1, 1);
  }

  .text-skyblue{
    color: rgba(1, 172, 253, 1);
  }

  .text-blue{
    color: rgba(5, 212, 223, 1);
  }

  .text-purple{
    color: rgba(93, 88, 239, 1);
  }

  .btn-color-1{
    background-color: rgba(60, 216, 232, 1);
  }
  .btn-color-2{
    background-color: rgba(149, 178, 38, 1);
  }
  .btn-color-3{
    background-color: rgba(93, 88, 240, 1);
  }
 


  /*nav styles*/

  .logo{
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .logo img{
    max-width: 62px;
    max-height: 62px;
  }

  .title{
    font-weight: 700;
    font-size: 2rem;
   
  }
  .navbar, .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
  }

  .nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .nav-links{
    list-style: none;
    display: flex;
    gap: 32px;
  }

  .primary-btn{
    background-color: orange;
    color: white;
    border-radius: 12px;
    max-width: 197px;
    max-height: 50px;
    padding: 10px 60.5px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
  }

.round-btn, .view-button{
    margin-top: 80px;
  }

.curriculum-heading, .story-title{
  margin-bottom: 80px;
}


/*banner styles*/


.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1.25rem;
    margin-top: 24px;
    
}

.banner-btn{
    margin-top: 24px;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
    font-weight: 700;
    font-size: 1.25rem;
}

.banner-img{
  padding-left: 50px;
  max-width: 100%;
}

/*curriculum*/

.curriculum{
  background-image: url(../assets/bg.png);
  padding-top: 60px;
  padding-bottom: 60px;
}
.curriculum-heading{
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
}
.curriculum-container{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    gap: 28.29px;
    grid-template-columns:repeat(3, 1fr);
    justify-items: center;
}

.curriculum-card{
    display: flex;
    width: 368px;
    height:477px;
    border-radius:  19px; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

#bg1{
   border: 0.94px solid #F2E8FF;
   background-color: white;
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);

}

#bg2{
   border: 0.94px solid #F2E8FF;
   background-color: white;
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);

}   

#bg3{
   border: 0.94px solid #F2E8FF;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1) 0%, rgba(255,0,0,0) 40%);
}


.curriculum-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 33px;
}

.curriculum-description{
    font-weight: 500;
    font-size: 0.94rem;
    padding-left: 41px;
    padding-right: 41px;
    margin-bottom: 34px;
}

.more{
    text-decoration:none ;
    font-size: 1rem;
    font-weight: 700;
}

.arrow{
  background-color: orange;
  border-radius: 30px;
  color: white;
  text-align: center;
  border: none;
  width: 60px;
  height: 60px;
  font-size: 2rem;
}
.arrow:hover{
  background-color: salmon;
}

.round-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*stories*/

.stories{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(254, 163, 1, 0.3) 100%), url('../assets/bg.png');
  padding-top: 60px;
  padding-bottom: 60px;
}
.story-btn{
  color: white;
  font-size: .7rem;
  border-radius: 47.93px;
  border: none;
  padding: 8px 19px;
  font-weight: 100;
 
}
.story-title{
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
}

.story-container{
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 540px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 19.17px;
}

.date{
  position: relative;
  margin-left: 25px;
  margin-top: -18px;
}

.a{
  grid-row: span 2;
}

.a,.b,.c,.d,.e{
  border-radius: 16px;
  background-color:white;
}

.story-container img{
  border-top-left-radius: 16px ;
  border-top-right-radius: 16px;
  width: 100%;
  border: none;

}

.story-container h4 {
  padding-left: 38.5px;
  padding-right: 38.5px;
}

.story-container .a p {
  padding-left: 38.04px;
  padding-right: 68px;
  
}

.view-button{
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 61px;
  border-radius: 12px;
  border: none;
}

.view{
  display: flex;
  justify-content: center; 
  align-items: center;
}

/**footer**/

footer{
  background-color: rgba(1, 172, 253, 1);
  color: white;
}

.foot{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  align-items: flex-start;
  padding-top: 123px;
  padding-bottom: 170px;
}

/*kids education*/

.edu-content{
  display: flex;

}

.edu-description{
  width: 399px;
}

.edu-img{
  width: 70.34px;
  height: 81.65px;
}

.edu-title{
  font-size: 2.6rem;
  font-weight: 700;
  margin-top: 0;
}

/*about school*/
.about h4{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.about-content{
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-content li{
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 500;
}


/*Keep in touch*/

.contact h4{
  font-size: 1.63rem;
  font-weight: 700;
  margin-top: 0;
}

.contact-content{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10.15px;
}

.ham-icon{
  display: none;
}



.marquee {
  width: 100%; 
  overflow: hidden;
  background-color: orange;
}

.marquee-container {
  display: flex; /* Align items in a row */
  animation: scroll 15s linear infinite;
}

.marquee-content {
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 0;
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

/*for smaller screen*/

@media screen and (max-width: 576px){
  .logo h3, .nav-links, .primary-btn{
    display: none;
  }

  .ham-icon{
    display: block;
    max-width: 30px;
    max-height: 30px;
  }

  .navbar{
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid orange;
  }


  .banner{
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
   } 

   header{
    max-width: 100%;
   }
   .banner-img{
    order: 1;
    padding:0%;
    margin: 0%;
   }

   .banner-container{
    order: 2;
    max-width: 90%;
   }

   body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .curriculum-container{
    grid-template-columns:repeat(1, 1fr);
  }

  .round-btn{
    display: none;
  }

  .a{
    display: none;
   }
  
   .story-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 90%;
   }

   .foot{
    flex-direction: column;
    padding-left: 20px;
   }

   .banner img{
    max-width: 90%;
   }
  
}